body{
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
}
header{
    text-align: center;
}
table{
    margin-top: 150px;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 150px;

}
td{
    padding-left: 150px;
    padding-right: 150px;
}
.mine{
    width: 1500px;

    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    margin-right: 100px;
    clear: both;
}

.sect1{
    width:600px;
    float: left;
    margin-right: 100px;

}
.fig1{
    width: 600px;
    display:inline-block;
}
.video{
    margin-left: 350px;
    margin-bottom: 100px;
}

.sect2{
    width: 380px;
    float: left;
    padding-right: 70px;
    margin-bottom: 100px;
}
.sect3{
    width: 580px;
    float: left;

}
.art1{
    margin-left: 60px;
    padding-bottom: 100px;
}
.map{
    width: 600px;
    margin-left: 200px;
    float: left;
}
.adres{
    width: 300px;
    float: left;
}
pre{
    font-size: 200%;
}
footer{
    clear: both;
    text-align: center;
    padding-top: 200px;
}
